In [1]:
import sqlite3

In [2]:
def create_table():
    conn=sqlite3.connect('my_books.db')
    cursor=conn.cursor()
    sql='''create table if not exists books(
        title text,
        published_date text,
        publisher text,
        pages integer,
        recommend integer
    )'''
    cursor.execute(sql)
    conn.commit()
    conn.close()

create_table()

In [3]:
def insert_books():
    conn=sqlite3.connect('my_books.db')
    cursor=conn.cursor()
    sql="insert into books values('java','2024-04-21','길벗',500,10)"
    cursor.execute(sql)
    conn.commit()
    conn.close()
    
insert_books()

In [4]:
def insert_books2(data):
    conn=sqlite3.connect('my_books.db')
    cursor=conn.cursor()
    sql="insert into books values(?,?,?,?,?)"
    cursor.execute(sql,data)
    conn.commit()
    conn.close()

In [5]:
data=('python', '2024-02-01','한빛',350,10)
insert_books2(data)

In [6]:
def insert_books3(data):
    conn=sqlite3.connect('my_books.db')
    cursor=conn.cursor()
    sql="insert into books values(?,?,?,?,?)"
    cursor.executemany(sql,data)
    conn.commit()
    conn.close()

In [7]:
datas=[('빅데이터', '2024-01-14', '생능', 250, 20),
       ('안드로이드','2023-04-14','이지퍼블리싱',560,30),
       ('Spring','2024-01-02','영진',650,15)]
insert_books3(datas)

In [8]:
def one_book():
    conn=sqlite3.connect('my_books.db')
    cursor=conn.cursor()
    cursor.execute("select * from books")
    book=cursor.fetchone()
    print(type(book))
    print(book)
    conn.close()

one_book()

<class 'tuple'>
('java', '2024-04-21', '길벗', 500, 10)

In [10]:
def some_book(number):
    conn=sqlite3.connect('my_books.db')
    cursor=conn.cursor()
    cursor.execute("select * from books")
    books=cursor.fetchmany(number)
    for book in books:
     print(book)
    conn.close()

some_book(3)

('java', '2024-04-21', '길벗', 500, 10)
('python', '2024-02-01', '한빛', 350, 10)
('빅데이터', '2024-01-14', '생능', 250, 20)

In [13]:
def all_book():
    conn=sqlite3.connect('my_books.db')
    cursor=conn.cursor()
    cursor.execute("select * from books where pages>=500 order by pages desc")
    books=cursor.fetchall()
    for book in books:
     print(book)
    conn.close()

all_book()

('Spring', '2024-01-02', '영진', 650, 15)
('안드로이드', '2023-04-14', '이지퍼블리싱', 560, 30)
('java', '2024-04-21', '길벗', 500, 10)

In [18]:
def update_book(data):
    conn=sqlite3.connect('my_books.db')
    cursor=conn.cursor()
    sql="update books set pages=?, recommend=? where title=?"
    #cursor.execute(sql, data)
    cursor.executemany(sql, data)
    conn.commit()
    conn.close()

In [17]:
data=(700,20, 'java')
update_book(data)
all_book()

('java', '2024-04-21', '길벗', 700, 20)
('Spring', '2024-01-02', '영진', 650, 15)
('안드로이드', '2023-04-14', '이지퍼블리싱', 560, 30)

In [19]:
datas=[(1000, 20, 'java'),
       (700, 35, '안드로이드')]
update_book(datas)
all_book()

('java', '2024-04-21', '길벗', 1000, 20)
('안드로이드', '2023-04-14', '이지퍼블리싱', 700, 35)
('Spring', '2024-01-02', '영진', 650, 15)

In [20]:
#! pip install pymysql

Collecting pymysql
  Downloading PyMySQL-1.1.1-py3-none-any.whl.metadata (4.4 kB)
Downloading PyMySQL-1.1.1-py3-none-any.whl (44 kB)
   ---------------------------------------- 0.0/45.0 kB ? eta -:--:--
   --------------------------- ------------ 30.7/45.0 kB 1.3 MB/s eta 0:00:01
   ---------------------------------------- 45.0/45.0 kB 1.1 MB/s eta 0:00:00
Installing collected packages: pymysql
Successfully installed pymysql-1.1.1

In [21]:
import pymysql

In [26]:
#1개의 데이터 입력
def insert_data1(data):
    conn = pymysql.connect(
        host='localhost',
        user='pse',
        password='1234',
        db='pydb',
        charset='utf8')
    cursor=conn.cursor()
    sql="insert into book(title, pub, pages, author) values(%s,%s,%s,%s)"
    cursor.execute(sql, data)
    conn.commit()
    conn.close()

In [27]:
data=('파이썬프로그램', '한빛', 20, '홍길동')
insert_data1(data)

In [28]:
#복수 데이터 입력
def insert_data2(data):
    conn = pymysql.connect(
        host='localhost',
        user='pse',
        password='1234',
        db='pydb',
        charset='utf8')
    cursor=conn.cursor()
    sql="insert into book(title, pub, pages, author) values(%s,%s,%s,%s)"
    cursor.executemany(sql, data)
    conn.commit()
    conn.close()

In [29]:
data_list=[('자바','생능', 500,'황기태'),('데이터베이스','한빛', 350,'서진수')]
insert_data2(data_list)

In [30]:
#전체 데이터 조회
def select_all():
    conn=pymysql.connect(host='localhost',
    user='pse',
    password='1234',
    db='pydb',
    charset='utf8')
    cursor=conn.cursor()
    sql="select * from book"
    cursor.execute(sql)
    for book in cursor:
        print(book)
    conn.close()
select_all()

(1, '파이썬프로그램', '한빛', 20, '홍길동')
(2, '자바', '생능', 500, '황기태')
(3, '데이터베이스', '한빛', 350, '서진수')

In [32]:
#조건 검색
def select_cond(title):
    conn=pymysql.connect(host='localhost',
    user='pse',
    password='1234',
    db='pydb',
    charset='utf8')
    cursor=conn.cursor()
    sql="select * from book where title=%s"
    cursor.execute(sql,(title,))
    for book in cursor:
        print(book)
    conn.close()
select_cond('자바')

(2, '자바', '생능', 500, '황기태')

In [34]:
#1개의 데이터 업데이트
def update_book(data):
    conn=pymysql.connect(host='localhost',
    user='pse',
    password='1234',
    db='pydb',
    charset='utf8')
    cursor=conn.cursor()
    sql="update book set title=%s, pub=%s, pages=%s, author=%s where id=%s"
    cursor.execute(sql,data)
    conn.commit()
    conn.close()

data=('Java', '생능', '700', '홍길동', 3)
update_book(data)
select_all()

(1, '파이썬프로그램', '한빛', 20, '홍길동')
(2, '자바', '생능', 500, '황기태')
(3, 'Java', '생능', 700, '홍길동')

In [36]:
#복수의 데이터 업데이트
def update_book(data):
    conn=pymysql.connect(host='localhost',
    user='pse',
    password='1234',
    db='pydb',
    charset='utf8')
    cursor=conn.cursor()
    sql="update book set title=%s, pub=%s, pages=%s, author=%s where id=%s"
    cursor.executemany(sql,datas)
    conn.commit()
    conn.close()

datas=[('Java2', '생능', '700', '최주호', 3),
      ('파이썬', '한빛', '700', '홍길동', 4),
      ('자바', '길벗', '700', '박성언', 5)]

update_book(datas)
select_all()

(1, '파이썬프로그램', '한빛', 20, '홍길동')
(2, '자바', '생능', 500, '황기태')
(3, 'Java2', '생능', 700, '최주호')

In [37]:
#단일 및 복수개의 데이터 삭제
def delete_book(data):
    conn=pymysql.connect(host='localhost',
    user='pse',
    password='1234',
    db='pydb',
    charset='utf8')
    cursor=conn.cursor()
    sql="delete from book where id=%s"
    #cursor.excute(sql,data)
    cursor.executemany(sql,data)
    conn.commit()
    conn.close()

#delete_book(4)
update_book([5,6])
select_all()

(1, '파이썬프로그램', '한빛', 20, '홍길동')
(2, '자바', '생능', 500, '황기태')
(3, 'Java2', '생능', 700, '최주호')